<div class="jwt-encoder-decoder">
  <breadcrumb />

  <mat-card>
    <mat-card-content>
      <section class="format-selection">
        <mat-button-toggle-group (change)="setOperation($event.value)" [value]="selectedOperation">
          <mat-button-toggle value="encode">Encode</mat-button-toggle>
          <mat-button-toggle value="decode">Decode</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field appearance="fill" class="algorithm-select">
          <mat-label>Algorithm</mat-label>
          <mat-select (selectionChange)="convert()" [(value)]="selectedAlgorithm">
            <mat-option *ngFor="let algo of algorithms" [value]="algo">
              {{ algo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="clearAll()" class="clear-button" color="warn" mat-raised-button>
          <mat-icon>clear_all</mat-icon>
          Clear All
        </button>
      </section>

      <section class="secret-key-input">
        <mat-form-field appearance="fill">
          <mat-label>Secret Key</mat-label>
          <input (input)="convert()" [(ngModel)]="secretKey" matInput placeholder="Enter secret key for signature">
        </mat-form-field>
      </section>

      <section class="textarea-container">
        <div class="textarea-wrapper">
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea (input)="onInputChange($event)"
                      [(ngModel)]="inputText"
                      [placeholder]="selectedOperation === 'encode' ? 'Input JSON to encode' : 'Input JWT to decode'" class="center-placeholder"
                      matInput></textarea>
          </mat-form-field>
          <div class="button-container">
            <button (click)="copyToClipboard(inputText)" mat-icon-button matTooltip="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button (click)="pasteFromClipboard()" mat-icon-button matTooltip="Paste">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="selectedOperation === 'encode'" class="textarea-wrapper">
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea [(ngModel)]="outputJwt" class="center-placeholder"
                      matInput
                      placeholder="Output JWT" readonly></textarea>
          </mat-form-field>
          <div class="button-container">
            <button (click)="copyToClipboard(outputJwt)" mat-icon-button matTooltip="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="selectedOperation === 'decode'" class="textarea-wrapper">
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea [(ngModel)]="decodedHeader" class="center-placeholder"
                      matInput
                      placeholder="Decoded Header" readonly></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea [(ngModel)]="decodedPayload" class="center-placeholder"
                      matInput
                      placeholder="Decoded Payload" readonly></textarea>
          </mat-form-field>
          <div class="signature-verification">
            <mat-icon [color]="signatureValid ? 'primary' : 'warn'">
              {{ signatureValid ? 'check_circle' : 'error' }}
            </mat-icon>
            <span>Signature {{ signatureValid ? 'Valid' : 'Invalid' }}</span>
          </div>
        </div>
      </section>

      <section class="error-message-container">
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </section>
    </mat-card-content>
  </mat-card>
</div>
