<breadcrumb />

<mat-card class="number-converter-card">
  <mat-card-content>
    <h2 class="number-converter-title">Number Converter</h2>

    <div class="input-group">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Decimal</mat-label>
        <input (input)="convertDecimal()" [(ngModel)]="decimalValue" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Hexadecimal</mat-label>
        <input (input)="convertHex()" [(ngModel)]="hexValue" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Octal</mat-label>
        <input (input)="convertOct()" [(ngModel)]="octValue" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Binary</mat-label>
        <input (input)="convertBin()" [(ngModel)]="binValue" matInput>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
