mat-card {
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 16px;
}

button {
  margin-top: 20px;
}

.output-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.full-width {
  flex: 1;
}

button[mat-icon-button] {
  margin-left: 8px;
}
