<div class="base64-encoder-decoder">
  <breadcrumb />

  <mat-card>
    <mat-card-content>
      <section class="format-selection">
        <mat-button-toggle-group (change)="setOperation($event.value)" [value]="selectedOperation">
          <mat-button-toggle value="encode">Encode</mat-button-toggle>
          <mat-button-toggle value="decode">Decode</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field appearance="fill">
          <mat-label>Text Encoding</mat-label>
          <mat-select (selectionChange)="onTextEncodingChange()" [(value)]="selectedTextEncoding" style="width: 100px;">
            <mat-option value="ascii">ASCII</mat-option>
            <mat-option value="utf8">UTF-8</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="clearAll()" class="clear-button" color="warn" mat-raised-button>
          <mat-icon>clear_all</mat-icon>
          Clear All
        </button>
      </section>

      <section class="textarea-container">
        <div class="textarea-wrapper">
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea (input)="onInputChange()"
                      [(ngModel)]="inputText"
                      [placeholder]="'Input text ' + (selectedOperation === 'encode' ? 'to encode' : 'to decode')" class="center-placeholder"
                      matInput></textarea>
          </mat-form-field>
          <div class="button-container">
            <button (click)="copyToClipboard(inputText)" mat-icon-button matTooltip="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button (click)="pasteFromClipboard()" mat-icon-button matTooltip="Paste">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
        </div>
        <div class="textarea-wrapper">
          <mat-form-field appearance="fill" class="textarea-field">
            <textarea [(ngModel)]="outputText"
                      [placeholder]="'Output ' + (selectedOperation === 'encode' ? 'encoded' : 'decoded') + ' text'"
                      class="center-placeholder"
                      matInput readonly></textarea>
          </mat-form-field>
          <div class="button-container">
            <button (click)="copyToClipboard(outputText)" mat-icon-button matTooltip="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </section>

      <section class="error-message-container">
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </section>
    </mat-card-content>
  </mat-card>
</div>
