<breadcrumb />
<mat-card>
  <mat-card-title>Password Generator</mat-card-title>
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <mat-form-field appearance="fill">
        <mat-label>Password Length</mat-label>
        <input formControlName="length" matInput min="1" type="number">
      </mat-form-field>

      <mat-checkbox formControlName="includeLowercase">Include Lowercase</mat-checkbox>
      <mat-checkbox formControlName="includeUppercase">Include Uppercase</mat-checkbox>
      <mat-checkbox formControlName="includeSpecial">Include Special Characters</mat-checkbox>

      <mat-form-field appearance="fill">
        <mat-label>Exclude Characters</mat-label>
        <input formControlName="excludeCharacters" matInput placeholder="e.g. a,b,c">
      </mat-form-field>

      <button (click)="generatePassword()" [disabled]="passwordForm.invalid" color="primary" mat-raised-button>Generate
        Password
      </button>
    </form>

    <div *ngIf="generatedPassword">
      <h3>Generated Password</h3>
      <p>{{ generatedPassword }}</p>
    </div>
  </mat-card-content>
</mat-card>
