<mat-card>
  <mat-card-content>
    <div class="controls">
      <mat-button-toggle-group (change)="convert()" [(ngModel)]="selectedOperation">
        <mat-button-toggle value="prettify">Prettify</mat-button-toggle>
        <mat-button-toggle value="minify">Minify</mat-button-toggle>
        <mat-button-toggle value="validate">Validate</mat-button-toggle>
      </mat-button-toggle-group>
      <button (click)="clearAll()" color="warn" mat-raised-button>
        <mat-icon>clear_all</mat-icon>
        Clear All
      </button>
    </div>

    <div class="text-areas">
      <div class="input-area">
        <mat-form-field appearance="fill">
          <textarea (ngModelChange)="convert()" [(ngModel)]="inputText" matInput placeholder="Input XML"></textarea>
        </mat-form-field>
        <div class="actions">
          <button (click)="copyToClipboard(inputText)" mat-icon-button matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button (click)="pasteFromClipboard()" mat-icon-button matTooltip="Paste">
            <mat-icon>content_paste</mat-icon>
          </button>
          <button (click)="fileInput.click()" mat-icon-button matTooltip="Open XML File">
            <mat-icon>folder_open</mat-icon>
          </button>
          <input #fileInput (change)="openXmlFile($event)" accept=".xml" style="display: none;" type="file">
        </div>
      </div>
      <div class="output-area">
        <mat-form-field appearance="fill">
          <textarea [value]="outputText" matInput placeholder="Output XML" readonly></textarea>
        </mat-form-field>
        <div class="actions">
          <button (click)="copyToClipboard(outputText)" mat-icon-button matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </mat-card-content>
</mat-card>
