<mat-card>
  <mat-card-header>
    <mat-card-title>Text Comparer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle [(ngModel)]="inlineMode">Inline Mode</mat-slide-toggle>

    <div [class.inline-mode]="inlineMode" class="text-inputs">
      <mat-form-field appearance="fill">
        <mat-label>Old Text</mat-label>
        <textarea [(ngModel)]="oldText" matInput rows="10"></textarea>
        <mat-card-actions align="end">
          <button (click)="copyToClipboard(oldText)" mat-icon-button matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button (click)="pasteFromClipboard('old')" mat-icon-button matTooltip="Paste">
            <mat-icon>content_paste</mat-icon>
          </button>
          <button (click)="clearText('old')" mat-icon-button matTooltip="Clear">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-actions>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Text</mat-label>
        <textarea [(ngModel)]="newText" matInput rows="10"></textarea>
        <mat-card-actions align="end">
          <button (click)="copyToClipboard(newText)" mat-icon-button matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button (click)="pasteFromClipboard('new')" mat-icon-button matTooltip="Paste">
            <mat-icon>content_paste</mat-icon>
          </button>
          <button (click)="clearText('new')" mat-icon-button matTooltip="Clear">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-actions>
      </mat-form-field>
    </div>

    <button (click)="comparetexts()" color="primary" mat-raised-button>Compare Texts</button>

    <div class="differences">
      <div *ngFor="let diff of differences"
           [class.added]="diff.startsWith('+')"
           [class.removed]="diff.startsWith('-')">
        <code>{{ diff }}</code>
      </div>
    </div>
  </mat-card-content>
</mat-card>
