<breadcrumb />

<mat-card>
  <mat-card-content>
    <section class="format-selection">
      <mat-button-toggle-group (change)="setInputType($event.value)" [value]="selectedInputType">
        <mat-button-toggle value="JSON">JSON</mat-button-toggle>
        <mat-button-toggle value="YAML">YAML</mat-button-toggle>
        <mat-button-toggle value="XML">XML</mat-button-toggle>
      </mat-button-toggle-group>
      <span class="arrow">→</span>
      <mat-button-toggle-group (change)="setOutputType($event.value)" [value]="selectedOutputType">
        <mat-button-toggle value="JSON">JSON</mat-button-toggle>
        <mat-button-toggle value="YAML">YAML</mat-button-toggle>
        <mat-button-toggle value="XML">XML</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="textarea-container">
      <mat-form-field appearance="fill" class="textarea-field">
        <textarea (input)="onInputChange($event)" [placeholder]="'Input ' + selectedInputType"
                  [value]="inputText" class="auto-height center-placeholder"
                  matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="textarea-field">
        <textarea [placeholder]="'Output ' + selectedOutputType" [value]="outputText"
                  class="auto-height center-placeholder"
                  matInput readonly></textarea>
      </mat-form-field>
    </section>

    <section class="error-message-container">
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </section>
  </mat-card-content>
</mat-card>
