<breadcrumb />

<mat-card>
  <mat-card-content>
    <section class="textarea-container">
      <mat-form-field appearance="fill" class="textarea-field">
        <textarea matInput placeholder="Input JSON" class="auto-height center-placeholder" [value]="inputArea"
                  (change)="onJsonInputChange($event)"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="textarea-field">
        <textarea matInput placeholder="Output XML" class="auto-height center-placeholder" readonly [value]="outputArea"></textarea>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
